.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  transition: background-color 0.4s ease;
  padding: 0.5rem 1rem;
  color: #fff;
  overflow-x: hidden;
}

.scrolled {
  background-color: rgba(17, 17, 17, 0.85);
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.linksContainer {
  display: flex;
  gap: 1.5rem;
}

.linksContainer a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
  cursor: pointer; /* Asigură că cursorul rămâne degetul arătător */
}


.linksContainer a::after {
  content: "👉";
  position: absolute;
  left: -1.5rem; /* plasat la stânga linkului */
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.linksContainer a:hover::after {
  opacity: 1;
  transform: translateX(0);
}


.linksContainer a:hover::after {
  opacity: 1;
  transform: translateX(0);
}

.socialLinks {
  display: flex;
  gap: 1rem;
}

.socialLinks a {
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.socialLinks a:hover {
  color: #ccc;
}

.mobileMenuIcon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Meniul mobil */
.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.mobileMenuContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.mobileMenuContent a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.mobileMenuContent a:hover {
  color: #ccc;
}

.mobileSocialLinks {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.mobileSocialLinks a {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.mobileSocialLinks a:hover {
  color: #ccc;
}

/* Responsivitate */
@media (max-width: 768px) {
  .linksContainer {
    display: none;
  }
  .socialLinks {
    display: none;
  }
  .mobileMenuIcon {
    display: block;
  }
}
